@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 4px; 
    height: 4px; 
  }
  
 
  ::-webkit-scrollbar-track {
    background: #000; 
    border-radius: 8px; 
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
    transition: background-color 0.3s ease; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }
  
  
  ::-webkit-scrollbar-thumb:active {
    background: #888; 
  }
  
  * {
    scrollbar-width: thin; 
    scrollbar-color: #444 #000; 
  }
  